# .env
MARIADB_HOST=192.168.110.38
MARIADB_USER=lee
MARIADB_PASSWORD=11142
MARIADB_DATABASE=lee

POSTGRES_HOST=192.168.100.70
POSTGRES_USER=postgres
POSTGRES_PASSWORD=grespost
POSTGRES_DATABASE=databank2